:root {
  --baseColor: rgb(0, 74, 143);
  --secondaryColor: rgb(224, 153, 0);
  --otherColor: rgb(255, 255, 255);
  --overlayColor: rgb(127, 250, 234);
  --actionColor: rgb(0, 153, 33);
  --menuColor: #042331;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--baseColor);
  margin-top: 0;
  /* font-family: "Noto Sans", sans-serif; */
}

.mainContainer {
  background-color: var(--otherColor);
  width: 60%;
  min-height: 10%;
  margin: auto;
  padding-top: 2em;
  display: grid;
}

/* This is for the loginForm */
.formContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center, space-between;
  flex-direction: column;
}

.formInput {
  font-size: larger;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 20px;
}
