:root{
    --baseColor: rgb(0, 74, 143);
    --secondaryColor: rgb(224, 153, 0);
    --otherColor: rgb(255, 255, 255);
    --overlayColor: rgb(127, 250, 234);
    --actionColor: rgb(0, 153, 33);
    --menuColor: #042331;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--baseColor);
    margin-top: 0;
    /* font-family: 'Noto Sans', sans-serif; */

}

main{
    background-color: var(--otherColor);
    width: 60%;
    min-height: 300px;
    margin: auto;
    /* border-radius: 10px; */
}

.customFormButton{
    margin: auto;
}

.customFormContainerStyle{
    margin-bottom: 10px;
}

.header{
    width: 60;
}

.selector{
    width: 60%;
    margin: auto;
}

.gridContainer{
    display: grid;
    grid-template-columns: 2fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    grid-template-areas: 
        "mainContent mainContent sideContent"
        "mainContent mainContent sideContent"
        "farmInfo herdInfo AdditionalInfo";
    height: 100vh;
    gap: 0.5em;
    margin: 1em;
    color: var(--otherColor);
    border-radius: 5px;
}

#mainContent{
    background-color: #042331;
    grid-area: mainContent;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* width: 60%; */
}
#sideContent{
    background-color: aqua;
    grid-area: sideContent;
    display: flex;
}